---
import Layout from "../layouts/Layout.astro";
import LogoCard from "@components/LogoCard.astro";
import ContactList from "@components/ContactList.astro";
import SocialMediaContact from "@components/SocialMediaContact.astro";
import SalemLogo from "src/icons/SalemLogo.astro";
---

<Layout title="Galería">
		<LogoCard cardTitle="Contacto" subtitle="¡Contacta con nosotros!" />
		<ContactList />
		<SocialMediaContact class="social-media"/>
		<div class="logo__decoration"><SalemLogo /></div>
</Layout>

<style>
	.logo__decoration {
		position: absolute;
		bottom: -6em;
		left: -2em;
		width: 43em;
	}
</style>