---
import InfoSection from '@components/InfoSection.astro';
import Layout from '../layouts/Layout.astro';
import LogoCard from '@components/LogoCard.astro';
import InfoSection2 from '@components/InfoSection2.astro';
---

<Layout title="Inicio - Salem">
	<main>
		<LogoCard cardTitle="Salem" subtitle="Distribuidora de Vitrinas"/>
		<InfoSection />
		<InfoSection2 />
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: 5em;
	}
	
</style>
