---
import { Image } from "astro:assets";
import {
	gallery1,
	gallery2,
	gallery3,
	gallery4,
	gallery5,
	gallery6,
	gallery7,
	gallery8,
	gallery9,
} from "../assets/index.js";
import "swiper/css";

const galleryImages = [
	gallery1,
	gallery2,
	gallery3,
	gallery4,
	gallery5,
	gallery6,
	gallery7,
	gallery8,
	gallery9,
];
---

<div class="swiper">
	<div class="swiper-wrapper">
		{
			galleryImages.map((elem) => {
				return (
					<div class="swiper-slide">
						<Image src={elem} alt="ok" />
					</div>
				);
			})
		}
	</div>
</div>

<script>
	import Swiper from "swiper";
	import { Navigation } from "swiper/modules";
	import "swiper/css/navigation";
	const swiper = new Swiper(".swiper", {
		modules: [Navigation],
		loop: true,
		slidesPerView: "auto",
		spaceBetween: 10,
		centeredSlides: true
	});
</script>

<style>
	.swiper-slide {
		height: 320px;
		overflow: hidden;
		margin-top: 2em;
		margin-bottom: 2em;
		width: 80%;
	}
	.swiper-slide > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
</style>
