---
import { Image } from "astro:assets";
import {
	gallery1,
	gallery2,
	gallery3,
	gallery4,
	gallery5,
	gallery6,
	gallery7,
	gallery8,
	gallery9,
} from "../assets/index.js";
import "swiper/css/bundle";

const galleryImages = [
	gallery1,
	gallery2,
	gallery3,
	gallery4,
	gallery5,
	gallery6,
	gallery7,
	gallery8,
	gallery9,
];
---

<div class="swiper">
	<div class="swiper-wrapper" id="swiper-slider">
		{
			galleryImages.map((elem) => {
				return (
					<a
						class="swiper-slide"
						href={elem.src}
						data-pswp-width={elem.width}
						data-pswp-height={elem.height}
						target="_blank"
						data-cropped="true"
					>
						<Image src={elem} alt="ok" />
					</a>
				);
			})
		}
	</div>
	<div class="swiper-scrollbar"></div>
</div>

<script>
	import Swiper from "swiper";
	import { Navigation, Scrollbar } from "swiper/modules";
	import "swiper/css/navigation";
	const swiper = new Swiper(".swiper", {
		modules: [Navigation, Scrollbar],
		loop: true,
		slidesPerView: "auto",
		spaceBetween: 20,
		centeredSlides: true,
		scrollbar: {
			el: ".swiper-scrollbar",
			draggable: true,
		},
	});

	import PhotoSwipeLightbox from "photoswipe/lightbox";
	import "photoswipe/style.css";
	const closeSVGString =
		'<svg aria-hidden="true" class="pswp__icn" viewBox="0 0 50 30" width="42" height="42"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>';
	const arrowPrevString =
		'<svg aria-hidden="true" class="pswp__icn" viewBox="0 0 50 30" width="50" height="30"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>';
	const arrowNextString =
		'<svg aria-hidden="true" class="pswp__icn" viewBox="0 0 50 30" width="50" height="30"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>';

	const lightbox = new PhotoSwipeLightbox({
		gallery: "#swiper-slider",
		children: "a",
		pswpModule: () => import("photoswipe"),
		closeSVG: closeSVGString,
		arrowNextSVG: arrowNextString,
		arrowPrevSVG: arrowPrevString,
		zoomSVG: '',
		mainClass: "pswp--custom-icon-colors",
	});
	lightbox.init();
</script>

<style>
	.swiper-slide {
		height: 300px;
		overflow: hidden;
		margin-right: unset;
		margin-block: 3em;
		width: 70%;
	}

	.swiper {
		background: rgb(246, 246, 246);
		background: linear-gradient(
			90deg,
			rgba(246, 246, 246, 0) 95%,
			rgba(246, 246, 246, 1) 100%
		);
		mask-image: linear-gradient(to left, transparent, #000000 20%);
	}

	.swiper-slide > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 5px;
		position: relative;
	}

	.swiper-scrollbar {
		margin-bottom: 1em;
	}

	.pswp__icn-shadow {
		display: none;
	}

	.pswp__button > svg {
		color: var(--white-clean);
		fill: none;
	}
</style>
