---
import { Phone, Mail, Whatsapp, Instagram } from "@icons";
const contact = [
	{
		icon: Phone,
		title: "Llamadas",
		subtitle: "(+58) 4144906371",
		href: "tel:04144906371",
	},
	{
		icon: Mail,
		title: "Correo Electrónico",
		subtitle: "salemmdistribuidora@gmail.com",
		href: "mailto:salemmdistribuidora@gmail.com",
	},
	{
		icon: Whatsapp,
		title: "WhatsApp",
		subtitle: "(+58) 4144906371",
		href: "https://wa.link/ikvb3p",
	},
	{
		icon: Instagram,
		title: "Instagram",
		subtitle: "@salemdistr",
		href: "https://www.instagram.com/salemdistr/",
	},
];
---

<section>
	<ul>
		{
			contact.map(({ icon, title, subtitle, href }) => {
				const Icon = icon;
				return (
					<li class={title.toLowerCase()}>
						<div>{Icon ? <Icon /> : null}</div>
						<div>
							<h2>{title}</h2>
							<a href={href} target="_blank">
								<span>{subtitle}</span>
							</a>
						</div>
					</li>
				);
			})
		}
	</ul>
</section>

<style>
	section {
		position: relative;
		margin-bottom: 3em;
		background-color: var(--white-clean);
		padding: 1em;
	}

	ul {
		display: flex;
		flex-direction: column;
		margin-left: 2.5em;
		gap: 2em;
	}

	ul > li {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1.5em;
		z-index: 1000;
	}

	ul > li > div {
		width: 3em;
		color: var(--dark);
	}

	ul > li > div:last-child {
		display: flex;
		flex-direction: column;
		min-width: fit-content;
	}

	ul > li > div:last-child > h2 {
		font-family: "Greater Theory";
		font-size: 3rem;
		color: var(--dark);
	}

	ul > li > div:last-child > a {
		font-family: system-ui;
		font-size: 1.5rem;
		color: var(--blue-accent);
		cursor: pointer;
	}

	ul > .instagram,
	ul > .whatsapp {
		display: none;
	}

	@media (width <= 700px) {
		ul > .instagram,
		ul > .whatsapp {
			display: flex;
		}

		ul > li > div {
			width: 2em;
		}

		ul > li > div:last-child > h2 {
			font-size: 1.5rem;
		}

		ul > li > div:last-child > a {
			font-size: 1rem;
		}
	}
</style>
