---
import { Link, Phone, Instagram, Whatsapp, Salem } from "@icons";
---

<footer>
	<div>
		<div>
			<div class="salem__logo">
				<span>SALEM</span>
				<div class="salem__icon"><Salem /></div>
				<p>
					Nos hacemos cargo de que tu negocio sea un total éxito en
					estética e innovación. Con nuestra asesoría, tendrás en la
					puerta de tu negocio tu equipo, más rápido de lo que
					esperas.
				</p>
			</div>
			<div class="menu__mobile">
				<ul>
					<li>
						<a><span>Inicio</span></a>
					</li>
					<li>
						<a><span>Galeria</span></a>
					</li>
					<li>
						<a><span>Contacto</span></a>
					</li>
				</ul>
			</div>
			<div class="mail__button">
				<span>¡Envía un correo!</span>
				<a href="mailto:salemmdistribuidora@gmail.com" target="_blank">
					<div>
						<span>Escríbenos</span>
						<div>
							<Link />
						</div>
					</div>
				</a>
			</div>
			<div class="container__menu">
				<ul class="socialmedia__buttons">
					<li>
						<a href="tel:0414-4906-371" target="_blank"><Phone /></a
						>
					</li>
					<li>
						<a
							href="https://www.instagram.com/salemdistr/"
							target="_blank"
							><Instagram />
						</a>
					</li>
					<li>
						<a href="https://wa.link/ikvb3p" target="_blank"
							><Whatsapp />
						</a>
					</li>
				</ul>
			</div>
			<span
				>Web desarrollada por <a
					href="https://github.com/Jellyv7"
					target="_blank"
					>Jelly.flac
				</a>💜</span
			>
		</div>
		<div class="footer__decoration">
			<div>
				<Salem />
			</div>
			<span
				>Web desarrollada por <a
					href="https://github.com/Jellyv7"
					target="_blank"
					>Jelly.flac
				</a>💜</span
			>
		</div>
	</div>
</footer>

<style>
	footer > div > div {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		position: relative;
		background-color: var(--blue-strong);
		padding: 3em;
		padding-bottom: 10em;
		color: var(--white-clean);
		z-index: 1000;
	}

	footer > div > div > .salem__logo {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		gap: 1.5em;
	}

	footer > div > div > .salem__logo > span {
		font-size: 4.5rem;
		font-family: "Greater Theory";
		letter-spacing: 2px;
		color: var(--white-clean);
	}

	footer > div > div > .menu__mobile {
		display: none;
	}

	footer > div > div > .salem__logo > p {
		font-size: 1rem;
		color: var(--white-clean);
		width: 30em;
	}

	footer > div > div > .salem__logo > .salem__icon {
		display: none;
	}

	footer > div > div > .mail__button {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		gap: 2.6em;
	}

	footer > div > div > .mail__button > span {
		font-size: 1.6rem;
		font-family: "Swiss Medium";
	}

	footer > div > div > .mail__button > a > div {
		display: flex;
		justify-content: space-between;
		padding: 1.6em 2.2em 1.6em 2.2em;
		border: 5px var(--white-clean) solid;
		width: 18em;
		transition: all 0.4s ease 0s;
	}

	footer > div > div > .mail__button > a > div > span {
		font-size: 1.5rem;
	}

	footer > div > div > .mail__button > a > div:hover {
		background-color: var(--white-clean);
		color: var(--blue-strong);
		transition: all 0.4s ease 0s;
	}

	footer > div > div > .mail__button > a > div > div {
		width: 1.7em;
	}

	footer > div > div > .container__menu {
		position: relative;
	}

	footer > div > div > .container__menu > .socialmedia__buttons {
		display: flex;
		gap: 1.5em;
	}

	footer > div > div > .container__menu > .socialmedia__buttons li {
		display: flex;
	}

	footer > div > div > .container__menu > .socialmedia__buttons li a {
		width: 4em;
		padding: 0.8em;
		border-radius: 50%;
		transition: all 0.4s ease 0s;
	}

	footer > div > div > .container__menu > .socialmedia__buttons li a:hover {
		color: var(--blue-strong);
		background-color: var(--white-clean);
		transition: all 0.4s ease 0s;
	}

	footer > div > .footer__decoration {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		height: 8em;
		background-color: var(--dark);
		padding: unset;
		overflow: hidden;
	}

	footer > div > .footer__decoration::after {
		content: "";
		position: absolute;
		z-index: 999;
		inset: 0;
		background-image: url("../assets/SalemPatron.webp");
		pointer-events: none;
		opacity: 0.7;
	}

	footer > div > .footer__decoration > div {
		width: 10em;
	}

	footer > div > .footer__decoration > span {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 0;
		bottom: 0;
		color: var(--white-clean);
		font-size: 0.7rem;
		letter-spacing: 1px;
		padding: 5px;
		gap: 4px;
	}

	footer > div > .footer__decoration > span > a {
		color: var(--blue-clean-accent);
		cursor: pointer;
	}

	footer > div > .footer__decoration > span > a:hover {
		text-decoration: underline;
	}

	@media (width <= 700px) {
		footer > div > div {
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			gap: 4em;
		}

		footer > div > div > .salem__logo > span,
		footer > div > div > .salem__logo > p {
			display: none;
		}

		footer > div > div > .salem__logo > .salem__icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 4em;
		}

		footer > div > div > .menu__mobile {
			display: flex;
		}

		footer > div > div > .menu__mobile > ul {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			font-family: "Greater Theory";
			font-size: 1.3rem;
			gap: 2.5em;
		}

		footer > div > div > .mail__button {
			display: none;
		}

		footer > div > .footer__decoration {
			display: none;
		}

		footer > div > div > .container__menu > .socialmedia__buttons li a {
			width: 3.7em;
		}

		footer > div > div > .container__menu::after {
			content: "";
			position: absolute;
			bottom: -15%;
			left: -20%;
			right: 50%;
			width: 20rem;
			height: 1px;
			border-top: 1px solid var(--white-clean);
		}

		footer > div > div > span {
			opacity: 0.8;
			font-size: 0.8rem;
		}

		footer > div > div > span > a {
			color: var(--blue-clean-accent);
			font-size: 0.8rem;
		}
	}
</style>
