---
import { Salem } from "@icons";
---

<header>
	<div>
		<div>
			<a href="/"><Salem /></a>
		</div>
		<ul>
			<li>
				<a href="/gallery">Galería</a>
			</li>
			<li>
				<a href="/contact">Contacto</a>
			</li>
		</ul>
	</div>
</header>

<style>
	header > div {
		display: flex;
		padding: 1.5em 3em 1.5em 3em;
		gap: 4em;
		background-color: var(--blue-strong);
		width: 100%;
	}

	header > div > div {
		width: 56px;
	}

	header > div > ul {
		display: flex;
		align-items: center;
		gap: 4em;
	}

	header > div > ul > li > a {
		padding: 1em;
		transition: all 0.2s;
		border-radius: 25px;
		border: 1px transparent solid;
	}

	header > div > ul > li > a:hover {
		background-color: var(--blue-soft);
	}

	header > div > ul > li > a {
		font-size: 1.2rem;
		color: var(--white-clean);
		cursor: pointer;
	}

	header > div > ul > li > a.active {
		border: 1px var(--white-clean) solid;
		pointer-events: none;
	}

	@media (width >= 1920px) {
		header > div {
			padding: 1.8em 3.2em 1.8em 3.2em;
		}

		header > div > ul > li > a {
			font-size: 1.6rem;
		}
	}

	@media (width <= 700px) {
		header {
			margin: 0.8em;
		}

		header > div {
			justify-content: space-between;
			border-radius: 50px;
			padding: 0.6em 1.2em 0.6em 1.2em;
			gap: unset;
			width: 100%;
		}

		header > div > ul {
			gap: 1em;
		}

		header > div > div {
			width: 40px;
		}

		header > div > ul > li > a {
			font-size: 1.1rem;
			padding: 0.5em;
		}

		header > div > ul > li > a.active {
		border: 1px var(--white-clean) solid;
		pointer-events: none;
	}
	}

</style>
