---
import { Star, Truck, Award } from "@icons";
---

<section>
	<div>
		<h2>¿Quienes somos?</h2>
		<p>
			Somos tu aliado para tu negocio. Nos dedicamos a la distribución e
			innovación en equipo de calidad y durabilidad, buscando garantizar
			la satisfacción del cliente.
		</p>
	</div>
	<div>
		<div>
			<Star />
			<div>
				<h3>Confianza</h3>
				<p>Mantenemos la confianza de nuestros clientes.</p>
			</div>
		</div>
		<div>
			<Truck />
			<div>
				<h3>Transporte</h3>
				<p>Más de 20 años de experiencia en transporte.</p>
			</div>
		</div>
		<div>
			<Award />
			<div>
				<h3>Calidad</h3>
				<p>Somos proveedores de equipos de alta calidad.</p>
			</div>
		</div>
	</div>
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		background-color: var(--white-clean);
		gap: 2em;
	}

	section > div:first-child {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.7rem;
	}

	section > div:first-child > h2 {
		margin-top: 1em;
		font-size: 1.6rem;
		font-family: "Swiss Medium";
	}

	section > div:first-child > p {
		font-size: 0.9rem;
		width: 50em;
		text-align: center;
	}

	section > div:last-child {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 9em;
	}

	section > div:last-child > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.7em;
		width: 15em;
	}

	section > div:last-child > div > div {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1em;
	}

	section > div:last-child > div > div > h3 {
		font-size: 1.4rem;
		font-family: "Swiss Medium";
	}

	section > div:last-child > div > div > p {
		text-align: center;
		font-size: 1rem;
	}

	@media (width >= 1920px) {
		section > div:first-child > h2 {
			font-size: 2rem;
		}

		section > div:first-child > p {
			font-size: 1.5rem;
		}

		section > div:last-child > div > h3 {
			font-size: 2rem;
		}

		section > div:last-child > div > p {
			font-size: 1.5rem;
		}

		section > div:last-child > div {
			width: 20em;
		}
	}

	@media (width <= 700px) {
		section > div:first-child > h2 {
			margin-top: 1em;
			font-size: 1.2rem;
		}

		section > div:first-child > p {
			font-size: 0.8rem;
			width: 25em;
			text-align: center;
		}

		section > div:last-child {
			flex-direction: column;
			gap: 2.5em;
		}

		section > div:last-child > div {
			width: 18em;
		}

		section > div:last-child > div:nth-child(even) {
			flex-direction: row;
		}

		section > div:last-child > div:nth-child(odd) {
			flex-direction: row-reverse;
		}

		section > div:last-child > div > div > p {
			font-size: 0.9rem;
		}
	}
</style>
