---
import { Image } from "astro:assets";
import HomePhoto from "../assets/HomePhoto.webp";
---

<section>
	<div>
		<div>
			<Image src={HomePhoto} alt="" />
		</div>
		<div class="title">
			<span>Somos tu distribuidora de confianza</span>
		</div>
		<a href="https://wa.link/f7e7l4" target="_blank">
			<div class="budget__button">
				<span> Presupuesto </span>
			</div>
		</a>
		<div class="polygon"></div>
	</div>
</section>

<style>
	section > div {
		display: flex;
		flex-wrap: nowrap;
		gap: 2em;
		position: relative;
		background-color: var(--white-clean);
	}

	section > div > div > img {
		width: 300px;
	}

	section > div > .title {
		display: flex;
		flex-direction: column;
	}

	section > div > .title > span {
		max-width: 10em;
		text-transform: uppercase;
		font-family: "Greater Theory";
		font-size: clamp(1.4rem, 3.5vw, 3rem);
		color: var(--dark);
		z-index: 1;
	}

	section > div > a > .budget__button {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 0;
		bottom: 1.5vw;
		width: 20vw;
		height: 1vw;
		margin-right: 4em;
		padding: 2em;
		border: 5px var(--white-clean) solid;
		font-size: clamp(0.8rem, 2vw, 2rem);
		z-index: 2;
		color: var(--white-clean);
		transition: all 0.4s ease 0s;
	}

	section > div > a > .budget__button:hover {
		background-color: var(--white-clean);
		color: var(--blue-strong);
		transition: all 0.4s ease 0s;
	}

	section > div > .polygon {
		position: absolute;
		width: 78%;
		height: 100%;
		right: 0;
		bottom: -1px;
		clip-path: polygon(100% 0, 0 100%, 100% 100%);
		background-color: var(--blue-strong);
	}

	@media (width >= 1920px) {
		section > div > div > img {
			width: 500px;
		}

		section > div > .title > span {
			font-size: 4rem;
		}

		section > div > .polygon {
			width: 74%;
			bottom: -2px;
		}

		section > div > a > .budget__button {
			font-size: 2rem;
		}
	}

	@media (width <= 700px) {

		section {
			background-color: transparent;
		}

		section > div {
			width: 100%;
			align-items: center;
			justify-content: center;
			background-color: transparent;
			margin-bottom: 2em;
			gap: unset;
		}

		section > div > div,
		section > div > .polygon,
		section > div > a > .budget__button {
			display: none;
		}

		section > div > .title > span {
			font-size: 2rem;
			text-align: center;
		}
	}
</style>
