---
const { cardTitle, subtitle } = Astro.props;
---

<div class="salem__banner">
	<div>
		<h1>{ cardTitle }</h1>
		<h3>{ subtitle }</h3>
	</div>
</div>

<style>
	.salem__banner {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.salem__banner > div > h1 {
		font-family: 'Greater Theory';
		font-size: 6.5rem;
		text-transform: uppercase;
		text-align: center;
		color: var(--dark);
	}

	.salem__banner > div > h3 {
		text-align: center;
		font-size: 1.2rem;
		text-transform: uppercase;
		font-family: 'Swiss Light';
		letter-spacing: 2px;
	}

	@media (width <= 700px) {
		.salem__banner {
			padding-top: 1em;
			padding-bottom: unset;
		}

		.salem__banner > div > h1 {
			font-size: 3rem;
		}

		.salem__banner > div > h3 {
			font-size: 0.8rem;
		}

	}
</style>
