---
import { SalemLetras } from "@icons";
---

<div class="salem__banner">
	<div>
		<SalemLetras />
	</div>
</div>

<style>
	.salem__banner {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.salem__banner::after {
		content: '';
		position: absolute;
		z-index: 999;
		inset: 0;
		background-image: url('../assets/SalemPatron.webp');
		pointer-events: none;
		opacity: 0.5;
	}

	.salem__banner > div {
		width: 25em;
	}
</style>
