---
const { cardTitle, subtitle } = Astro.props;
---

<div class="salem__banner">
	<div>
		<h1>{ cardTitle }</h1>
		<h3>{ subtitle }</h3>
	</div>
</div>

<style>
	.salem__banner {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.salem__banner::after {
		content: '';
		position: absolute;
		z-index: 999;
		inset: 0;
		background-image: url('../assets/SalemPatron.webp');
		pointer-events: none;
		opacity: 0.5;
	}

	.salem__banner > div > h1 {
		font-family: 'Greater Theory';
		font-size: 6.5rem;
		text-transform: uppercase;
		text-align: center;
		color: var(--dark);
	}

	.salem__banner > div > h3 {
		text-align: center;
		font-size: 1.2rem;
		text-transform: uppercase;
		font-family: 'Swiss Light';
		letter-spacing: 2px;
	}
</style>
