---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{ title }</title>
	</head>
	<Header />
	<body>
		<main>
			<slot />
		</main>
	</body>
	<Footer />
</html>

<script>
	const pageTitle = document.title;
	const navbar = [...document.querySelectorAll('header > div > ul > li > a')];

	for (let i = 0; i < navbar.length; i++) {
		if (pageTitle === navbar[i].textContent) {
			navbar[i].classList.add('active')
		}
	}
</script>

<style is:global>

	* {
		margin: 0;
		padding: 0;
		min-width: 0;
		font: inherit;
		user-select: none;
		scroll-behavior: smooth;
		overscroll-behavior: contain;
		text-decoration: none;
		-webkit-font-smoothing: antialiased;
		-maz-osx-font-smoothing: grayscale;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
		-webkit-tap-highlight-color: transparent;
	}

	*:link, *:visited {
		color: inherit;
	}


	body {
		min-height: 100dvh;
		font-family: 'Swiss Light', sans-serif;
		background-color: var(--white-clean);
	}

	body::after {
		content: '';
		position: absolute;
		z-index: -1;
		inset: 0;
		background-image: url('../assets/SalemPatron.webp');
		pointer-events: none;
		opacity: 0.5;
	}

	ul,
	ol {
		list-style: none;
	}

	img,
	picture,
	svg,
	video,
	canvas {
		display: block;
		max-width: 100%;
		height: auto;
	}

	h1, h2, h3, h4, h5, h6 {
		text-wrap: balance;
	}

	p {
		text-wrap: pretty;
		letter-spacing: 1.2px;
	}


	:root {
		--blue-strong: #262e35;
		--blue-soft: #2e373f;
		--blue-ultra-soft: #495764;
		--white-clean: #f6f6f6;
		--dark: #1d1d1b;
		--blue-accent: #254366;
		--blue-clean-accent: #2674cc;
	}

	.pswp--custom-icon-colors {
		--pswp-icon-color: var(--white-clean);
		--pswp-icon-color-secondary: var(--white-clean);
	}

	@font-face {
		font-family: 'Greater Theory';
		src: url('../assets/GreaterTheory.otf') format('opentype');
	}

	@font-face {
		font-family: 'Swiss Light';
		src: url('../assets/Swiss721BT-Light.ttf') format('truetype'); 
	}

	@font-face {
		font-family: 'Swiss Medium';
		src: url('../assets/Swiss721BT-Medium.ttf') format('truetype'); 
	}

	main {
		display: flex;
		flex-direction: column;
		position: relative;
		gap: 5em;
		z-index: 1000;
	}

</style>
